@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.xmas-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.slide {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: top 2s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.active {
  top: 0;
  opacity: 1;
}

.slide.exiting {
  top: -100%;
  opacity: 1;
}

.content {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  border-radius: 16px;
  max-width: 600px;
  margin: 2rem;
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #c41e3a;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #333;
}
