body {
    background-color: #CCCCFF;
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.image-container {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.image-container img {
    max-width: 100%;
    max-height: 70vh;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out;
}

.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-direction: row;
    font-family: 'Quantico', sans-serif;
}

.carousel-item {
    flex: 0 0 100%;
    justify-content: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.5s ease;
}

.carousel-control-prev, .carousel-control-next {
    color: black;
    font-size: 2rem;
}

.carousel-control-prev:focus, .carousel-control-next:focus,
.carousel-control-prev:active, .carousel-control-next:active,
.carousel-control-prev:hover, .carousel-control-next:hover {
    color: black;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

h1 {
    color: #333;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
    color: #333;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2, h5 {
    font-weight: bold;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #F3B2CB;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bubblegum Sans', cursive;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.back-button:hover {
    background-color: #e89bb5;
    color: white;
    text-decoration: none;
}

/* Media Query for Desktop */
@media (min-width: 768px) {
    body {
        flex-direction: row;
    }

    .content-container {
        flex-direction: row;
    }
}
